body{
background-color:lightgrey;
}
h1,h2{
text-align:center;
}
h1{
color:darkred;
}
div{
color:darkgreen;
}
footer{color:darkblue;
}
.preference {
display: flex;
justify-content: space-between;
width: 60%;
margin: .5rem;
}
footer {
font-family: sans-serif;
}
label {
font-size: 1rem;
padding-right: 10px;
}
select {
font-size: .9rem;
padding: 2px 5px;
}
